.navigation_container {
    background-color: #F7F8FA;
    grid-row: 1 / -1;
    height: 1074px;
    width: 75px;
    border-right: 2px solid #EDEFF2;
    box-sizing: border-box;
    margin-left: 25px;
    transition: all .2s ease-in-out;
}

.update_navigation {
    width: 0px;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.navigation {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation_div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation_div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigationLogo {
    cursor: pointer;
    margin-bottom: 8px;
}

.navigationLogo:hover {
    scale: 1.1;
}